@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html {
    height: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #F2F2F2;
}

.main-container {
    flex-grow: 1;
}

.body-inner {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 15px 0 #00000033;
}

.list,
.navigation-list,
.footer-social-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-container h3 {
    font-size: 24px;
    line-height: 28px;
}

/* Icons */

.icon {
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}

.icon-house {
    background-image: url("../images/index/house-icon.svg");
}

.icon-food {
    background-image: url("../images/index/food-icon.svg");
}

.icon-gift {
    background-image: url("../images/index/gift-icon.svg");
}

.inner-header-icon-house {
    background-image: url("../images/catalog/house-icon.svg");
    min-width: 13px;
    min-height: 15px;
}

.inner-header-icon-arrow {
    background-image: url("../images/catalog/arrow-icon.svg");
    min-width: 6px;
    min-height: 10px;
}

.icon-table {
    background-image: url("../images/catalog/table-icon.svg");
}

.icon-feed {
    background-image: url("../images/catalog/feed-icon.svg");
}

.icon-list {
    background-image: url("../images/catalog/list-icon.svg");
}

.star-icon {
    background-image: url("../images/catalog/star-icon.svg");
    min-width: 18px;
    min-height: 17px;
    margin-right: 6px;
}

/* Buttons */

.card-button,
.catalog-card-rating-number,
.button {
    font-family: "PT Sans", sans-serif;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    line-height: 20px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

.button:active {
    color: rgba(255, 255, 255, 0.3);
}

.catalog-card-rating-number {
    font-weight: 400;
}

.button-big,
.submit-button {
    font-size: 20px;
    line-height: 36px;
}

.button {
    padding: 8px 50px;
}

.card-button,
.catalog-card-rating-number {
    padding: 8px 0;
}

.submit-button {
    border-radius: 0 4px 4px 0;
}

.submit-button,
.button-blue {
    background-color: #82B3D3;
}

.submit-button:hover,
.button-blue:hover,
.submit-button:focus,
.button-blue:focus {
    background-color: #68A2CA;
    outline: none;
}

.reset-button {
    background: none;
}

.reset-button:hover {
    opacity: 0.6;
}

.reset-button:focus {
    outline: #83B3D3 3px solid;
}

.button-brown {
    background-color: #756157;
}

.button-brown:hover,
.button-brown:focus {
    background-color: #615048;
    outline: none;
}


.button-green {
    background-color: #7DB54F;
}

.button-green:hover,
.button-green:focus {
    background-color: #6C9E42;
    outline: none;
}

/* Header */

.navigation {
    display: flex;
    padding: 0 70px;
    min-height: 64px;
    background-color: #ffffff;
    align-items: flex-start;
    justify-content: space-between;
}

.navigation-left {
    display: flex;
}

.navigation-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    gap: 0 32px;
    width: 470px;
}

.navigation-user {
    gap: 0;
    max-width: 50%;
    justify-content: flex-end;
}

.navigation-item {
    display: flex;
    align-items: center;
    height: 64px;
}

.navigation-link {
    display: flex;
    align-items: center;
    height: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    position: relative;
}

.navigation-item.selected {
    position: relative;
}

.navigation-item.selected::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: -1px;
    left: 0;
    height: 2px;
    background-color: #756257;
    z-index: 1;
}

.navigation-logo {
    max-height: 64px;
    margin: 0 44px 0 0;
    z-index: 1;
    display: block;
}

.navigation-user .navigation-link {
    width: 44px;
    display: flex;
    justify-content: center;
    margin: 0;
}

.navigation-user .navigation-item {
    margin: 0;
}

.navigation-user .navigation-button {
    margin-left: 20px;
}

.navigation-button .button {
    padding: 8px 34px;
}

.favorite-count {
    position: absolute;
    top: 11px;
    right: 4px;
    padding-top: 1px;
    font-size: 10px;
    line-height: 10px;
    font-weight: 400;
    color: #ffffff;
    background-color: #7DB54F;
    height: 19px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

/* Main page */

.main-header {
    background-image: url("../images/index/sedona-background.jpg");
    color: #ffffff;
    background-color: #81B3D3;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 51px 0 82px;
}

.main-header::after {
    position: absolute;
    bottom: 0;
    width: 1200px;
    height: 57px;
    background-image: url("../images/index/divider.svg");
    content: "";
}


.section-header {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    margin: 0;
}

.section-description {
    font-size: 22px;
    line-height: 26px;
    margin: 0;
}

/* Advantages list */

.advantages,
.invitation {
    text-align: center;
}

.advantages-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 69px 0 90px 0;
    gap: 26px;
}

.advantages-header {
    margin: 0;
}

.invitation-header-container {
    padding: 64px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 0;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
}

.advantages-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.advantages-item-inner,
.invitation-item {
    display: flex;
    min-width: 400px;
    min-height: 385px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px 0;
}

.advantages-item-delimeter {
    width: 60px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item.blue-item .advantages-item-delimeter
{
    background-color: rgba(255, 255, 255, 0.3);
}

.advantages-item.image-item {
    padding: 0;
    width: 800px;
}

.advantages-item {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title {
    text-transform: uppercase;
    margin: 0;
}

.advantages-description,
.invitation-description {
    font-size: 18px;
    line-height: 21px;
    max-width: 400px;
    margin: 0;
}

.advantages-item.blue-item {
    background-color: #82B3D3;
    color: #ffffff;
}

.advantages-item.light-blue-item {
    background-color: rgba(131, 179, 211, 0.2);
}

.advantages-image {
    display: block;
}

/* Invitation */

.invitation-header {
    margin: 0;
}

.invitation-list {
    display: flex;
}

.invitation-item.light-blue-item {
    background-color: rgba(131, 179, 211, 0.12)
}

.invitation-item-icon {
    width: 75px;
    height: 72px;
}

.invitation-title {
    margin: 0;
    text-transform: uppercase;
}

/* Apointment */

.appointment {
    padding: 96px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.appointment-header {
    margin: 0 0 20px 0;
}

.appointment-description,
.subscribe-description {
    margin-bottom: 54px;
}

/* Subscribe */

.subscribe {
    padding: 96px 258px 104px;
    text-align: center;
}

.subscribe-header {
    margin-bottom: 20px;
}

.subscribe.with-background {
    background-image: url("../images/index/blur-background.jpg");
    background-size: 100% auto;
    color: #ffffff;
    background-color: #81B3D3;
}

.subscribe-form {
    display: flex;
}

.form-input {
    background-color: #F2F2F2;
    font-size: 18px;
    padding: 10px 20px;
    width: 394px;
    border: #F2F2F2 solid;
    border-radius: 4px;
    line-height: 24px;
    font-weight: 700;
    font-family: "PT Sans", sans-serif;
}

.subscribe-input {
    border-radius: 4px 0 0 4px;
    width: 452px;
    font-weight: 400;
}

.form-input:hover,
.form-input:focus {
    background-color: #E6E6E6;
    border: #E6E6E6 solid;
}

.form-input:focus {
    border: solid #83B3D3;
    outline: none;
}

/* Footer */

.page-footer {
    display: flex;
    align-items: center;
    min-height: 109px;
    justify-content: space-between;
    padding: 11px 70px 0;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    max-width: 33%;
}

.footer-social-item{
    width: 47px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social-icon > svg {
    fill: #83B3D3;
}

.footer-social-icon:hover > svg,
.footer-social-icon:focus > svg {
    fill: #68A2CA;
}

.footer-social-icon:focus {
    outline: none;
}

.footer-social-icon:active > svg {
    fill: #68A2CA4D;
}

.htmlacademy-link {
    flex-grow: 1;
    max-width: 33%;
    display: flex;
    flex-direction: row-reverse;
}

.htmlacademy-link > svg {
    fill: #000;
}

.htmlacademy-link:focus {
    outline: none;
}

.htmlacademy-link:hover > svg,
.htmlacademy-link:focus > svg {
    fill: #756157;
}

.htmlacademy-link:active > svg {
    fill: #7561574D;
}

.footer-contacts-phone {
    padding-left: 20px;
    flex-grow: 1;
    max-width: 33%;
    display: block;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0;
    text-decoration: none;
    color: #000;
}

.footer-contacts-phone:hover,
.footer-contacts-phone:focus {
    color: #756157;
    outline: none;
}

.footer-contacts-phone:active {
    color: #7561574D;
}


/* Catalog page */

/* Catalog filter */

.inner-header {
    background-image: url("../images/catalog/catalog-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    background-color: #81B3D3;
    padding: 35px 70px 70px 70px;
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    margin: 0 0 6px 0;
}

.breadcrumbs {
    margin: 0 0 38px 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.breadcrumbs-item {
    position: relative;
    margin-right: 28px;
}

.breadcrumbs-item::after {
    position: absolute;
    top: 2px;
    right: -18px;
    width: 7px;
    height: 11px;
    background-image: url("../images/catalog/arrow-icon.svg");
    content: "";
    line-height: 21px;
}

.breadcrumbs-item:last-child::after {
    content: none;
}

.breadcrumbs-link {
    text-decoration: none;
    color: #ffffff;
}

.breadcrumbs-link:hover {
    opacity: 0.6;
}

.breadcrumbs-link:focus {
    outline: #83B3D3 3px solid;
    border-radius: 2px;
}

.breadcrumbs-link:active {
    opacity: 0.3;
}

.inner-header-filter {
    display: flex;
    justify-content: space-between;
}

.fieldset-group {
    display: flex;
    gap: 0 70px;
    min-height: 160px;
}

.filter-fieldset {
    width: 150px;
    border: none;
    padding: 32px 0 0 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px 0;
}

.button-fieldset {
    justify-content: space-between;
    padding: 56px 0 0 0;
}

.price-fieldset {
    width: 288px;
    height: 128px;
}

.catalog-filter-title {
    font-size: 20px;
    font-weight: 700;
    padding: 0;
}

.filter-control {
    font-size: 18px;
    line-height: 23px;
    display: block;
    position: relative;
    padding-left: 36px;
}

.control-mark {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #FFFFFF;
}

.control-input[type="radio"] + .control-mark {
    border-radius: 50%;
  }

.filter-control:hover {
    opacity: 0.6;
}

.control-input:focus + .control-mark,
.control-input:focus + .control-radio {
    outline: solid #83B3D3;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
    position: absolute;
    left: 4px;
    bottom: 10px;
    width: 10px;
    height: 12px;
    content: url("../images/catalog/check.svg");
}

.control-input[type="radio"]:checked + .control-mark::before,
.control-input[type="radio"]:checked + .control-mark::after {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    background-color: #3F5E72;
    border-radius: 50%;
    content: "";
}

.catalog-filter-range {
    margin-bottom: 28px;
    display: flex;
    justify-content: space-between;
}

.catalog-filter-range-input {
    background-color: #F2F2F2;
    width: 98px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    border: solid #F2F2F2;
    padding: 12px 21px 10px 18px;
}

.catalog-filter-range-input::-webkit-inner-spin-button,
.number-field::-webkit-inner-spin-button {
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance: none;
    margin: 0;
}

.catalog-filter-range-input:hover {
    background-color: #E6E6E6;
}

.catalog-filter-range-input:focus {
    background-color: #E6E6E6;
    border: solid 3px #83B3D3;
    outline: none;
}

.range-input-container {
    position: relative;
}

.range-input-container:first-of-type .catalog-filter-range-input {
    border-radius: 4px 0 0 4px;
}

.range-input-container:last-of-type .catalog-filter-range-input {
    border-radius: 0 4px 4px 0;
}

.range-label {
    top: 12px;
    right: 20px;
    color: #7561574D;
    position: absolute;
    font-size: 17px;
    line-height: 24px;
}

/* Range */

.catalog-filter-slide-input {
    position: relative;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
    position: absolute;
    height: 4px;
    width: 226px;
    background-color: #FFFFFF;
}

.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 2px solid #242424;
    border-radius: 50%;
    cursor: pointer;
}

.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.range-toggle:active,
.range-toggle:focus {
    outline: 3px solid #83B3D3;
}

.toggle-min {
    top: -8px;
    left: 0;
}

.toggle-max {
    top: -8px;
    left: 207px;
}

.catalog-filter-button-container {
    display: flex;
    flex-direction: column;
    margin-top: 56px;
    justify-content: space-between;
}

.catalog-filter-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Catalog list */

.section-catalog {
    margin: 50px 70px 60px;
}

.catalog-list-title {
    margin: 0;
    text-transform: uppercase;
}

.catalog-list-sort {
    height: 49px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog-sort-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 522px;
}

.sort-button {
    width: 46px;
    height: 46px;
    margin-left: 5px;
    border-radius: 4px;
    border: solid 2px #E5E5E5;
}

.sort-button:hover,
.sort-button:active,
.button-selected {
    border: solid 2px black;
}

.sort-button:focus {
    border: solid 2px #68A2CA;
    outline: none;
}

.catalog-sort-selector {
    font-family: "PT Sans", sans-serif;
    height: 46px;
    width: 292px;
    padding: 12px 19px;
    border-radius: 4px;
    border: solid 2px #E5E5E5;
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;

    background-image: url("../images/catalog/chevron-icon.svg");
    background-repeat: no-repeat;
    background-position: right 18px top 18px;
}

.catalog-sort-selector:hover,
.catalog-sort-selector:focus {
    outline: solid 2px #68A2CA;
}

.catalog-filter-item {
    font-size: 18px;
    line-height: 23px;
}

.sort-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.catalog-list {
    margin: 0 0 40px 0;
    border-bottom: #E6E6E6 solid 1px;
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(3, 340px);
    gap: 20px;
}

.catalog-card {
    display: grid;
    grid-template-columns: repeat(2, 140px);
    grid-template-rows: 212px 31px 21px 36px 37px;
    column-gap: 20px;
    row-gap: 15px;
    padding: 20px;
    border: #E6E6E6 solid 1px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
}

.catalog-card-image,
.catalog-card-title {
    grid-column: 1 / -1;
    margin: 0;
    text-transform: none;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}

.catalog-card-price {
    text-align: right;
}

.catalog-sort-selector,
.catalog-card-subtitle {
    font-size: 18px;
    line-height: 21px;
}

.catalog-card-rating {
    display: flex;
}

.catalog-card-rating-number {
    background-color: #F2F2F2;
    color: #333333;
    line-height: 20px;
    text-transform: uppercase;
    cursor: default;
}

.pagination-list {
    display: flex;
}

.pagination-item {
    margin-right: 8px;
}

.pagination-button {
    padding: 0;
    width: 60px;
    height: 60px;
    font-size: 20px;
    line-height: 36px;
    background-color: #81B3D3;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-weight: 700;
}

.pagination-divider {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 22px;
    line-height: 60px;
}

.pagination-current {
    background-color: #F2F2F2;
    color: #333333;
}

.pagination-current:active {
    color: #333333;
}

/* Modal */

.modal-container {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

.modal {
    box-shadow: 0 25px 50px 0 #00000026;
    position: relative;
    margin: auto;
    padding: 64px 70px;
    background-color: #ffffff;
    width: 577px;
    border-radius: 30px;
}

.modal-close-button {
    position: absolute;
    padding: 0;
    top: 64px;
    right: 52px;
    width: 52px;
    height: 52px;
    background-color: #F2F2F2;
    border-radius: 50%;
    border: none;
    background-image: url("../images/icons/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.modal-close-button:hover,
.modal-close-button:active,
.modal-close-button:focus {
    background-color: #E6E6E6;
}

.modal-close-button:focus {
    outline: #83B3D3 solid 3px;
}

.modal-close-button:active {
    opacity: 0.3;
}

.modal-title {
    margin: 0 0 64px 0;
}

.field-group {
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.field-group-multiple {
    justify-content: flex-start;
    gap: 0 88px
}

.field-group.with-errors {
    margin-bottom: 4px;
}

.field-errors {
    margin-left: 157px;
    margin-bottom: 21px;
    line-height: 21px;
    font-size: 16px;
}

.field-errors.red-error {
    color: #FF5757;
}

.field-subgroup {
    width: 247px;
    display: flex;
    align-items: center;
    gap: 0 46px;
}

.field-label {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.form-input.date-field {
    background-image: url("../images/icons/calendar.svg");
    background-repeat: no-repeat;
    background-position: right 22px bottom 50%
}

.form-input.number-field {
    width: 58px;
}

.form-input.number-field {
    width: 31px;
    height: 20px;
    padding: 14px 40px;
    border: none;
    text-align: center;
    border-radius: 4px;
}

.number-field-container {
    position: relative;
}

.number-field-control {
    font-size: 18px;
    border: none;
    height: 48px;
    padding: 14px 10px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

.number-field-control.left {
    position: absolute;
    top: 0;
    left: 0;
}

.number-field-control.right {
    position: absolute;
    right: 0;
    top: 0;
}

.number-field-control svg {
    padding: 3px;
    height: 14px;
    width: 14px;
    fill: #7561574D;
}

.number-field-control:hover svg {
    fill: black;
}

.number-field-control:focus svg {
    border-radius: 4px;
    fill: black;
    outline: 3px solid #82B3D3;
}

.number-field-control:active svg {
    fill: #7561574D;
    outline: none;
}

.search-submit-button {
    width: 100%;
    border-radius: 10px;
    padding: 12px;
}

.popover-info-button {
    margin-left: 10px;
    width: 26px;
    height: 26px;
    background-color: #83B3D3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.popover-info-button:hover .popover {
    display: block;
}

.field-label-contaner {
    display: flex;
}

.popover {
    display: none;
    position: absolute;
    top: 21px;
    background-color: #333333;
    color: #ffffff;
    box-shadow: 0 15px 30px 0 #0000004D;
    border-radius: 10px;
    width: 216px;
    font-weight: 400;
}

.popover-triangle {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 14px;
    background-color: #333333;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
}

.popover-content {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 15px 18px 18px 22px;
}
