@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html {
    height: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #F2F2F2;
}

.main-container {
    flex-grow: 1;
}

.main-container,
.page-header,
.page-footer {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Icons */

.icon {
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}

.icon-house {
    background-image: url("../images/index/house-icon.svg");
}

.icon-food {
    background-image: url("../images/index/food-icon.svg");
}

.icon-gift {
    background-image: url("../images/index/gift-icon.svg");
}

.vk-icon {
    background-image: url("../images/icons/vk.svg");
    min-width: 24px;
    min-height: 14px;
}

.telegram-icon {
    background-image: url("../images/icons/telegram.svg");
    min-width: 18px;
    min-height: 15px;
}

.youtube-icon {
    background-image: url("../images/icons/youtube.svg");
    min-width: 22px;
    min-height: 17px;
}

.inner-header-icon-house {
    background-image: url("../images/catalog/house-icon.svg");
    min-width: 13px;
    min-height: 15px;
}

.inner-header-icon-arrow {
    background-image: url("../images/catalog/arrow-icon.svg");
    min-width: 6px;
    min-height: 10px;
}

.icon-table {
    background-image: url("../images/catalog/table-icon.svg");
}

.icon-feed {
    background-image: url("../images/catalog/feed-icon.svg");
}

.icon-list {
    background-image: url("../images/catalog/list-icon.svg");
}

.star-icon {
    background-image: url("../images/catalog/star-icon.svg");
    min-width: 18px;
    min-height: 17px;
    margin-right: 6px;
}

/* Buttons */

.card-button,
.catalog-card-rating-number,
.button {
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    line-height: 20px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

.catalog-card-rating-number {
    font-weight: 400;
}

.submit-button {
    border-radius: 0 4px 4px 0;
}

.button-big,
.submit-button {
    font-size: 20px;
    line-height: 36px;
}

.card-button,
.catalog-card-rating-number {
    padding: 8px 0;
}

.button {
    padding: 8px 50px;
}

.submit-button,
.button-blue {
    background-color: #82B3D3;
}

.reset-button {
    background: none;
}

.button-brown {
    background-color: #756157;
}

.button-green {
    background-color: #7DB54F;
}

/* Header */

.navigation {
    display: flex;
    padding: 0 70px;
    height: 64px;
    background-color: #ffffff;
}

.navigation-list {
    width: 507px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.navigation-user {
    margin-left: auto;
    max-width: 350px;
}

.navigation-item {
    margin: 0 16px;
}

.navigation-link {
    padding: 20px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

.navigation-link.selected {
    padding: 20px 0 17px;
    border-bottom: solid #756257 2px;
}

.navigation-logo {
    margin: 0;
    z-index: 1;
}

.navigation-user .navigation-link {
    min-width: 20px;
    min-height: 20px;
    padding: 20px
}

.navigation-user .navigation-item {
    margin: 0;
}

.navigation-user .navigation-button {
    margin-left: 13px;
}

/* Main page */

.main-header {
    height: 485px;
    background-image: url("../images/index/sedona-background.jpg");
    color: #ffffff;
    background-color: #81B3D3;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.welcome-img {
    display: block;
    margin: 0 auto;
    padding: 51px 0 25px;
}

.divider-img {
    display: block;
    margin: 0 auto;
}

h2 {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
}

.section-description {
    font-size: 22px;
    line-height: 26px;
    margin: 20px 0 0;
}

.header-section-description {
    margin: 25px 0 0;
}

/* Advantages list */

.advantages,
.invitation {
    text-align: center;
}

.advantages-header-container {
    padding: 69px 0;
}

.invitation-header-container {
    padding: 64px 0;
}

.advantages-header {
    margin: 0 auto;
    max-width: 700px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 21px;
}

.advantages-item,
.invitation-item {
    width: 230px;
    height: 385px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 85px;
    text-align: center
}

.advantages-item-delimeter {
    width: 60px;
    height: 2px;
    margin: 30px auto;
    background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item.blue-item > .advantages-item-delimeter
{
    background-color: rgba(255, 255, 255, 0.3);
}

.advantages-item.image-item {
    padding: 0;
    width: 800px;
}

.advantages-item {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title {
    margin: 0;
    max-width: 175px;
}

h3 {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
}

.advantages-description,
.invitation-description {
    font-size: 18px;
    line-height: 21px;
    max-width: 230px;
    margin: 0;
}

.advantages-item.blue-item {
    background-color: #82B3D3;
    color: #ffffff;
}

.advantages-item.light-blue-item {
    background-color: rgba(131, 179, 211, 0.2);
}

.advantages-image {
    display: block;
}

/* Invitation */

.invitation-header {
    margin: 0 auto;
    max-width: 500px;
}

.invitation-list {
    display: flex;
}

.invitation-item.light-blue-item {
    background-color: rgba(131, 179, 211, 0.12)
}

.invitation-item-icon {
    width: 76px;
    height: 76px;
}

.invitation-title {
    margin: 30px auto;
}

.appointment {
    padding: 96px 304px;
}

/* Apointment */

.appointment {
    text-align: center;
}

.appointment-button,
.subscribe-form {
    margin-top: 54px;
}

/* Subscribe */

.subscribe {
    padding: 96px 258px 104px;
    text-align: center;
}

.subscribe.with-background {
    background-image: url("../images/index/blur-background.jpg");
    background-size: 100% auto;
    color: #ffffff;
    background-color: #81B3D3;
}

.subscribe-form {
    display: flex;
}

.subscribe-form-input {
    background-color: #F2F2F2;
    font-size: 18px;
    padding: 12px 20px;
    flex-grow: 1;
    border: #F2F2F2 solid;
    border-radius: 4px 0 0 4px;
}

/* Footer */

.page-footer {
    display: flex;
    align-items: center;
    height: 120px;
}

.footer-social-list {
    display: flex;
    margin: 0 41px 0 70px;
}

.footer-social-item{
    width: 24px;
    height: 18px;
    margin-right: 20px;
}

.htmlacademy-link {
    background-image: url("../images/icons/html-academy.svg");
    width: 115px;
    height: 33px;
    display: block;
    margin: 0 70px 0 41px;
}

.footer-contacts-phone {
    font-size: 40px;
    line-height: 40px;
    width: 720px;
    text-align: center;
}

/* Catalog page */

/* Catalog filter */

.inner-header {
    background-image: url("../images/catalog/catalog-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #ffffff;
    background-color: #81B3D3;
    padding: 35px 70px 70px 70px;
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    margin: 0;
}

.inner-header-navigation {
    display: flex;
    margin-top: 8px;
}

.inner-header-navigation-item {
    margin-left: 10px;
}

.inner-header-subtitle {
    line-height: 21px;
}

.inner-header-filter {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(11, 70px) auto;
    grid-template-rows: 36px repeat(3, 20px);
    margin-top: 40px;
    gap: 16px 10px;
}

.catalog-filter-title {
    font-size: 20px;
    font-weight: 700;
    grid-row: 1 / 2;
}

.catalog-filter-title-infractructure {
    grid-column: 1 / 4;
}

.catalog-filter-title-type {
    grid-column: 4 / 7;
}

.catalog-filter-title-price {
    grid-column: 7 / -1;
}

.filter-control {
    grid-column: span 3;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
}

.control-input {
    margin: 0 16px 0 0;
    width: 20px;
    height: 20px;
}

.catalog-filter-range {
    grid-column: 7 / 11;
    grid-row: 2 / 4;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

.catalog-filter-range-input {
    background-color: #F2F2F2;
    width: 103px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    border: solid #F2F2F2;
    padding: 12px 20px;
}

.catalog-filter-range-input:first-of-type {
    border-radius: 4px 0 0 4px;
}

.catalog-filter-range-input:last-of-type {
    border-radius: 0 4px 4px 0;
}

.catalog-filter-slide-input {
    grid-row: 4 / 5;
    grid-column: 7 / 11;
}

.catalog-filter-button-container {
    display: flex;
    flex-direction: column;
    margin-top: 56px;
    justify-content: space-between;
}

.catalog-filter-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.catalog-filter-button-submit {
    grid-row: 2 / 4;
    grid-column: 12 / 13;
    margin-bottom: 20px;
}

.catalog-filter-button-reset {
    grid-row: 3 / 5;
    grid-column: 12 / 13;
    margin-top: 20px;
}


/* Catalog list */

.catalog-list-title {
    margin: 0;
}

.catalog-list-sort {
    height: 49px;
    margin: 50px 70px 0 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog-sort-buttons {
    display: flex;
    width: 522px;
}

.sort-button {
    width: 48px;
    height: 48px;
    margin-left: 8px;
    border-radius: 4px;
    border: solid 2px #E5E5E5;
}

.button-selected {
    border: solid 2px black;
}

.sort-button:first-of-type {
    margin-left: 70px;
}

.catalog-sort-selector {
    width: 292px;
    padding: 14px 20px;
    border-radius: 4px;
    border: solid 2px #E5E5E5;
}

.catalog-filter-item {
    font-size: 18px;
    line-height: 23px;
}

.catalog-list {
    border-bottom: #E6E6E6 solid 1px;
    margin: 40px 70px 0;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(3, 340px);
    gap: 20px;
}

.catalog-card {
    display: grid;
    grid-template-columns: repeat(2, 140px);
    grid-template-rows: 212px min-content auto 36px 37px;
    gap: 20px;
    padding: 20px;
    border: #E6E6E6 solid 1px;
    border-radius: 4px;
}

.catalog-card-image,
.catalog-card-title {
    grid-column: 1 / -1;
    margin: 0;
}

.catalog-card-price {
    text-align: right;
}

.catalog-sort-selector,
.catalog-card-subtitle {
    font-size: 18px;
    line-height: 21px;
}

.catalog-card-rating {
    display: flex;
}

.catalog-card-rating-number {
    background-color: #F2F2F2;
    color: #333333;
    line-height: 20px;
    text-transform: uppercase;
}

.pagination-list {
    padding: 40px 70px 60px;
    display: flex;
}

.pagination-item {
    margin-right: 8px;
}

.pagination-button {
    width: 60px;
    height: 60px;
    font-size: 20px;
    line-height: 36px;
    background-color: #81B3D3;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-weight: 700;
}

.pagination-divider {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 22px;
    line-height: 60px;
}

.pagination-current {
    background-color: #F2F2F2;
    color: #333333;
}
