@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html {
    height: 100%;
}

/* .visually-hidden {
    visibility: hidden;
} */

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #F2F2F2;
}

.main-container {
    flex-grow: 1;
}

.main-container,
.page-header,
.page-footer {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Icons */

.icon {
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}

.search-icon {
    background-image: url("../images/icons/search.svg");
}

.heart-icon {
    background-image: url("../images/icons/heart.svg");
}

.icon-house {
    background-image: url("../images/index/house-icon.svg");
}

.icon-food {
    background-image: url("../images/index/food-icon.svg");
}

.icon-gift {
    background-image: url("../images/index/gift-icon.svg");
}

.vk-icon {
    background-image: url("../images/icons/vk.svg");
}

.telegram-icon {
    background-image: url("../images/icons/telegram.svg");
}

.youtube-icon {
    background-image: url("../images/icons/youtube.svg");
}

.inner-header-icon-house {
    background-image: url("../images/catalog/house-icon.svg");
}

.inner-header-icon-arrow {
    background-image: url("../images/catalog/arrow-icon.svg");
}

.icon-table {
    background-image: url("../images/catalog/table-icon.svg");
}

.icon-feed {
    background-image: url("../images/catalog/feed-icon.svg");
}

.icon-list {
    background-image: url("../images/catalog/list-icon.svg");
}

.star-icon {
    background-image: url("../images/catalog/star-icon.svg");
}

/* Buttons */

.button {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    padding: 8px 50px;
}

.card-button {
    text-transform: uppercase;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

.submit-button,
.button-blue {
    background-color: #82B3D3;
}

.reset-button {
    background: none;
}

.button-brown {
    background-color: #756157;
}

.button-green {
    background-color: #7DB54F;
}

/* Header */

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
    height: 64px;
    background-color: #ffffff;
}

.navigation-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.navigation-item {
    margin: 20px 16px;
    white-space: nowrap
}

.navigation-logo {
    margin: 0;
}

.navigation-link {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

/* Main page */

.main-header {
    height: 485px;
    background-image: url("../images/index/sedona-background.jpg");
    color: #ffffff;
    background-color: #81B3D3;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.welcome-img {
    display: block;
    margin: 0 auto;
    padding: 51px 0 25px;
}

.divider-img {
    display: block;
    margin: 0 auto;
}

h2 {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
}

.section-description {
    font-size: 22px;
    line-height: 26px;
}

/* Advantages list */

.advantages {
    text-align: center;
}

.advantages-header-container {
    padding: 69px 0;
}

.advantages-header {
    margin: 0 auto;
}

.advantages-item {
    background-color: rgba(131, 179, 211, 0.12);
}

h3 {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
}

.advantages-description,
.invitation-description {
    font-size: 18px;
    line-height: 21px;
}

.blue-item {
    background-color: #82B3D3;
    color: #ffffff;
}

.light-blue-item {
    background-color: rgba(131, 179, 211, 0.2);
}

.advantages-image {
    display: block;
}

/* Invitation */

.invitation-item-icon {
    width: 76px;
    height: 76px;
}

.appointment {
    padding: 96px 304px;
}

/* Subscribe */

.subscribe {
    padding: 96px 258px 104px;
    text-align: center;
}

.subscribe.with-background {
    background-image: url("../images/index/blur-background.jpg");
    background-size: 100% auto;
    color: #ffffff;
    background-color: #81B3D3;
}

input.field {
    font-size: 18px;
}

/* Footer */

.page-footer {
    display: flex;
    align-items: center;
    height: 120px;
}

.footer-social-list {
    display: flex;
    margin: 0 41px 0 70px;
}

.htmlacademy-link {
    background-image: url("../images/icons/html-academy.svg");
    width: 115px;
    height: 33px;
    display: block;
    margin: 0 70px 0 41px;
}

.footer-contacts-phone {
    font-size: 40px;
    line-height: 40px;
    width: 720px;
    text-align: center;
}

/* Catalog page */

/* Catalog filter */

.inner-header {
    background-image: url("../images/catalog/catalog-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #ffffff;
    background-color: #81B3D3;
    padding: 35px 70px 70px 70px;
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    margin: 0;
}

.inner-header-navigation {
    display: flex;
    margin-top: 8px;
}

.inner-header-subtitle {
    line-height: 21px;
}

.inner-header-filter {
    display: flex;
    margin-top: 40px;
}

.catalog-filter-title {
    font-size: 20px;
    font-weight: 700;
}

.catalog-filter-group {
    width: 150px;
    margin-right: 70px;
}

.catalog-filter-range-group {
    width: 579px;
    margin-left: 70px;
    margin-right: 0;
}

/* Catalog list */

.catalog-list-title {
    margin: 0;
}

.catalog-list-sort {
    height: 49px;
    margin: 50px 70px 0 70px;
    display: flex;
    justify-content: space-between;
}

.catalog-sort-buttons {
    display: flex;
    width: 522px;
}

.sort-button {
    width: 48px;
    height: 48px;
    margin-left: 8px;
}

.sort-button:first-of-type {
    margin-left: 70px;
}

.catalog-sort-selector {
    width: 292px;
    padding: 14px 20px;
}

.catalog-filter-item {
    font-size: 18px;
    line-height: 23px;
}

.catalog-list {
    margin: 40px 70px;
}

.catalog-sort-selector,
.catalog-card-subtitle {
    font-size: 18px;
    line-height: 21px;
}

.catalog-card-rating-number {
    background-color: #F2F2F2;
    color: #333333;
    line-height: 20px;
    text-transform: uppercase;
}

.pagination-list {
    padding: 40px 70px 60px;
    display: flex;
}

.pagination-item {
    margin-right: 8px;
}

.pagination-button {
    width: 60px;
    height: 60px;
    font-size: 20px;
    line-height: 36px;
    background-color: #81B3D3;
    color: #ffffff;
}

.pagination-divider {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 22px;
    line-height: 60px;
}

.pagination-current {
    background-color: #F2F2F2;
    color: #333333;
}
